@import url('https://fonts.cdnfonts.com/css/made-tommy-outline');


* {
    margin: 0;
    padding: 0;
    /* font-family: 'MADE TOMMY Outline', sans-serif; */
    font-family: 'MADE TOMMY', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 100vh;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 1.5rem; 
    font-weight: bold;
}
.h2-main {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

/* Logged out */

.logged_buttons {
    display: flex;
    gap: 16px;
}

.logged_buttons > Button {
    margin-top: 64px;   
}

/* Logged In */
.logged_in_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2_logged_in {
    text-align: center;
    margin-top: 16px;
}

.sign_out_button {
    margin-top: 64px;
}

.sign_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.submit_sign_in {
    margin-top: 40px;
}

.separate_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 16px;
}

/* Loader */

.loader {
    width: 128px;
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.1rem;
    }
    .h2-main {
        margin-top: 10px;
    }

    .logged_buttons > Button {
        margin-top: 32px;
    }

    .sign_form {
        margin-left: 20px;
        margin-right: 20px;
    }

    .loader {
        width: 208px;
    }
}